.side-bar{
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 55px;
	width: 75px;
	z-index: 200;
	padding-top: 5px;
}

.side-bar-link{
	height: 72px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.side-bar-link:hover{
	background-color: #c4c4c4;
}

.side-bar-link img{
	height: 24px;
	margin-bottom: 6px;
}

.side-bar-link div{
	font-size: 10px;
	font-weight: 400;
	color: black;
}